<html>
	<head> <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"> </head>
	<title> RPS </title>
	<body>
		<h1> WELCOME to Rock-Paper-Scissors </h1>
		<h3> Please insert your name </h3>
		<form action = "/play" method = "post">

		Player1 Name:  <input type = "text" name = "player1">
									 <input class="btn btn-danger btn-lg" type = "submit" value = "Play">

		</form>

	</body>

</html>


 
