<html>
	<head></head>
	<title> RPS </title>
	<body>
		<h1> WELCOME to Rock-Paper-Scissors </h1>
		<h3> Please insert your name </h3>
		<form action = "/sign_in" method = "post">

		Player Name:  <input type = "text" name = "player1">
									<input type = "submit" value = "Play">

		</form>


	</body>

</html>