<html>
	<head></head>
		<title> RPS </title>
			<body>
				<h1> WELCOME to Rock-Paper-Scissors, <%= @name %> </h1>
				<form action = "/player1_choice" method = "post">
				Choose between:  <input type = "submit" name = "option" value="rock">
				<input type = "submit" name = "option" value="paper">
				<input type = "submit" name = "option" value="scissors">
				</form>



<!-- 
result(game, player) -->











	</body>




	</html>